<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" parallel="false"
          name="C:\Users\terence.magwenya\Documents\Cassava Projects\Ecocash upgarde\MFS\Question1.class">
        <classes>
            <class name="mfstestcases.CodingQuestion1"></class>
        </classes>
    </test>
</suite>